<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Интернет магазин
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <h1>Название магазина</h1>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
            {% block content %}
                Страница не найдена
            {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Интернет магазин. Все права защищены.</p>
    </footer>
</body>
</html>